.container {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 650px;
    border: 1px solid grey;
    height: 3em;
    border-radius: .5em;
    padding-inline: .75em;
    background-color: rgb(128, 128, 128, 0.1);
}

.search-form {
    margin-top: 6em;
}