.container {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 650px;
    border: 1px solid grey;
    height: 3em;
    border-radius: .5em;
    padding-inline: .75em;
    background-color: rgb(128, 128, 128, 0.1);
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 1em;
}

iframe {
    width: 100%;
    height: 250px;
    object-fit: fill;
}

.videos-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 2em;
    gap: 2em;
    margin-bottom: 2em;
}


@media only screen and (max-width: 1000px) {

    .search-input {
        width: 80%;
    }

    .videos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-container {
        align-items: center;
        max-width: 100%;
    }
}

.video-container {
    display: flex;
    flex-direction: column;
}

.search-button {
    width: 100px;
    border-radius: .5em;
    border: none;
    background-color: black;
    color: white;
    transition: all .25s ease-in-out;
}

.search-button:hover{

    opacity: .7;
}

.found-count {
    width: fit-content;
}

.pagination {
    display: flex;
    gap: 1em;
}

.lucky-form{
    margin-inline: auto;
    width: fit-content;
    margin-top:2em;
}